In [9]:
import pandas as pd
import numpy as np
print("DataFrame.apply function:\n")
info=pd.DataFrame([[2,7]]*3,columns=['P','Q'])
print("\nOriginal DataFrame:\n",info)
print("\nSquare root of DataFrame:\n",info.apply(np.sqrt))
print("\nSum of each coloumn:\n",info.apply(np.sum,axis=0))
print("\nSum of each row:\n",info.apply(np.sum,axis=1))
info=pd.DataFrame([[1,5,7],[2,7,8],[3,6,9]],columns=['X','Y','Z'])
print("\nOriginal DataFrame:\n",info)
print("\nMinimum and Maximum of each column:\n")
print(info.agg(['min','max']))
print("\nDataFrame.Assign function:\n")
d2=pd.DataFrame([['Dale',123],['Mark',143]],columns=['Emp','ID'])
print("\nOriginal DataFrame:\n",d2)
d2['Age']=[35,45]
print("\nAdding new Column:\n",d2)
d=d2.assign(sex=['Male','Male'])
print("\nAdding new column:\n",d)
print("\nDataFrame.sortfunction:\n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)
info2=info.sort_index()
print("\nSort index:\n",info2)
info3=info.sort_values(by='col3')
print("\nsort values:\n",info3)

DataFrame.apply function:


Original DataFrame:
    P  Q
0  2  7
1  2  7
2  2  7

Square root of DataFrame:
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

Sum of each coloumn:
 P     6
Q    21
dtype: int64

Sum of each row:
 0    9
1    9
2    9
dtype: int64

Original DataFrame:
    X  Y  Z
0  1  5  7
1  2  7  8
2  3  6  9

Minimum and Maximum of each column:

     X  Y  Z
min  1  5  7
max  3  7  9

DataFrame.Assign function:


Original DataFrame:
     Emp   ID
0  Dale  123
1  Mark  143

Adding new Column:
     Emp   ID  Age
0  Dale  123   35
1  Mark  143   45

Adding new column:
     Emp   ID  Age   sex
0  Dale  123   35  Male
1  Mark  143   45  Male

DataFrame.sortfunction:

       col3      col4
3 -2.239666  1.461047
2 -0.121928  0.178235
0 -1.117877 -0.768263
4  0.458625 -0.592049
1 -0.516395  1.426755

Sort index:
        col3      col4
0 -1.117877 -0.768263
1 -0.516395  1.426755
2 -0.121928  0.178235
3 -2.239666  1.461047
4  0.458625 -0.592049

sort values:
        col3      col4
3 -2.239666  1.461047
0 -1.117877 -0.768263
1 -0.516395  1.426755
2 -0.121928  0.178235
4  0.458625 -0.592049

In [10]:
print("\nData Frame.Merge function:\n")
left=pd.DataFrame({'id':[1,2,3,4,5],'Name':['Alex','Amy','Allen','Alice','Ayoung'],
'sub':['sub1','sub2','sub4','sub6','sub5']})
right=pd.DataFrame({'id':[1,2,3,4,5]})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

Data Frame.Merge function:

   id    Name   sub
0   1    Alex  sub1
1   2     Amy  sub2
2   3   Allen  sub4
3   4   Alice  sub6
4   5  Ayoung  sub5
   id
0   1
1   2
2   3
3   4
4   5
   id    Name   sub
0   1    Alex  sub1
1   2     Amy  sub2
2   3   Allen  sub4
3   4   Alice  sub6
4   5  Ayoung  sub5