In [8]:
f=open("D:\textfile.txt",'w')
f.write("first line\n")
f.write("second line\n")
f.write("third line\n")
f.close()
k=open("D:\textfile.txt",'r')
print(k.readline())
print(k.readline())
print(k.readline())
k.close()
m=open("D:\textfile.txt",'a')
m.write("fourth line\n")
m.write("fifth line\n")
m.close()
p=open("D:\textfile.txt",'r')
print(p.read())
p.close()
with open("D:\textfile.txt",'r')as file:
  lines=file.readlines()
  print(lines)
import json
x='{"name":"John","age":30,"city":"New York"}'
y=json.loads(x)
print(y["age"])
data={
    "name":"John",
    "age":30,
    "city":"New York"
}
json_data=json.dumps(data)
print(json_data)

first line

second line

third line

first line
second line
third line
fourth line
fifth line

['first line\n', 'second line\n', 'third line\n', 'fourth line\n', 'fifth line\n']
30
{"name": "John", "age": 30, "city": "New York"}